<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
  
		<!-- SiteAlias. -->
		<add key="SiteAlias" value="Default"/>
		
		<!-- DataSource for the iCDataManager. Possible modes are "MSSQLServer", "MSAccess", "MySql" -->
		<add key="DataSource" value="MySql"/>
		
		<!-- Max length for a uploaded file (5000000 = 5 MB) -->
		<add key="MaxPostedFileContentLength" value="51150000"/>
		
		<!-- ConnectionString for the iCDataManager. -->
		<add key="ConnectionString" value="host=localhost;user=root;database=ic2"/>
		<!--<add key="ConnectionString" value="server=localhost;user=sa;Password=i75c72;database=ic2"/>-->
		
		<!-- DataManager Url -->
		<add key="iCDataManager2Tester.iCDataManager.iCDataObject" value="http://localhost/Development/iConsulting/iCMComponents/wwwroot/iCDataManager2/iCDataObject.asmx"/>
	
	<add key="iCDataManager2Tester.ws_iCDataManager.iCDataObject" value="http://localhost/Development/iConsulting/iCMComponents/wwwroot/iCDataManager2/iCDataObject.asmx"/></appSettings>
</configuration>
